
body {
  padding: 0px;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: brown;
}

table {
  border-spacing: 0px;
  padding: 15px;
}

td, th {
  background-color: blueviolet;
  border: 1px solid beige;
  padding: 7px;
  text-align: center;
}

.titulo2 {
  background-color: blueviolet;
}

.item {
  background-color: burlywood;
}
